{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Stocks' %} {{ fit.name }}{% endblock %}


{% block main_content %}
<div class="page-header">
    <h1>{{ fit }}</h1>
    {{ fit.group.location }}
</div>

<div class="span5">
    <h3>Ships</h3>
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    EFT export
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{ fit.eft_export|linebreaksbr}}
                </div>
            </div>
        </div>
    </div>
    <dl>
        <dt>Correctly fitted:</dt>
        {% for ship in matching %} 
        <dd>{% if ship.name %}{{ ship.name }}{% else %}<i>Unnamed</i>{% endif %}</dd>
        {% empty %}
        <dd>No ships fitted correctly</dd>
        {% endfor %}
        <dt>Misfitted:</dt>
        {% for ship, missing_items, hangar in misfits %}
        <dd>
        <dl>
            
            <dt>{% if ship.name %}{{ ship.name }}{% else %}<i>Unnamed</i>{% endif %} @ {{ hangar }}</dt>
            <dd>
                <dl>
                    <dt>Missing:</dt>
                    {% for item, quantity in missing_items %}
                    <dd>{{ quantity|intcomma }}x {{ item }}</dd>
                    {% endfor %}
                </dl>
            </dd>
        </dd>
        </dl>
        {% endfor %}
    </ul>
</div>
<div class="span5">
    {% if fit.note %}
    <h3>Notes</h3>
    <pre>{{ fit.note }}</pre>
    {% endif %}
    <h3>Total missing items</h3>
    <table class="table">
        <tr>
            <th>Item</th><th>Missing</th><th>Stocked in station</th>
        </tr>
        {% for item, quantity in fit.accumulate_missing_items.items %}
        <tr>
            <td>{{ item }}</td><td style="text-align: right;">{{ quantity.missing|intcomma }}</td><td style="text-align: right;">{{ quantity.stocked|intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
